[submodule "shellscripts"]
	path = shellscripts
	url = git@github.com:BParolini/shellscripts.git
	branch = main
[submodule "python_scripts"]
	path = python_scripts
	url = git@github.com:BParolini/python_scripts.git
	branch = master
[submodule "neovim"]
	path = neovim
	url = git@github.com:BParolini/neovim_config.git
	branch = main
[submodule "secrets"]
	path = secrets
	url = git@github.com:BParolini/secrets.git
	branch = main
